<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - 404 sahifasi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="TextHolder">
    <div class="Texts">
      <div class="FourOhFour">404</div>
      <div class="Maybe">Uhhh.. Balkii.. Bizdaa <span>PROBLEMALAR BOR</span></div>
      <div class="Bad">QONDAY bu sahifa topilmadi.</div>
      <div class="Return">Asosiy menyuga qaytish</div>
    </div>
  </div>
  <div class="Body"> 
    <div class="LeftEye"></div>
    <div class="RightEye"></div>
    <div class="EyeShadows"></div>
    <div class="Mouth"></div>
    <div class="MouthShadows"></div>
    <div class="Theet"></div>
    <div class="BodyTexture"></div>
  </div>
  <div class="Horns">
    <div class="HornsExtras"></div>
  </div>
  <div class="LeftHand"></div>
  <div class="RightHand"></div>
</div>
<h4>Sichqonchani chapga <br> yoki o'ngga suring :)</h4>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
